.card {
    width: 350px;
    height: 550px;
    border: solid black 1px;
    margin-left: 2%;

}

.card img {
    width: 100%;
    height: 60%;
}

.card h1, .card p {
    margin: 4%;
}

.link {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.link button {
    color: rgb(211, 200, 53);
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;
}